$font-tech: "Courier New", Courier, monospace;
$font-content: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

$bgcolor: #fffff8;
$textcolor: #111;

$accentcolor1: cornflowerblue;
$accentcolor2: hotpink;

$content-font-size: 20px;

#page-header {
  padding-bottom: 2em;
  border-bottom: solid;

  h1 {
    &:before {
      content: ">> ";
    }
    font-family: $font-tech;
    padding-bottom: 1em;
    padding-top: 2em;
    padding-left: 2em;

    a {
      color: $textcolor;
    }
  }

  div#quote-box {
    font-style: italic;
    text-align: right;
    margin-left: 2em;

    em {
      &:before {
        content: "“";
      }
      &:after {
        content: "”";
      }
    }
  }
}

section#page-content {
  margin-left: 10%;
  margin-right: 10%;
  .page-links-list-container {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    ul {
      display: inline-block;
      text-align: left;
    }
  }
}

a:link,
a:visited {
  color: $accentcolor1;
  text-decoration: none;
  font-family: $font-tech;
}

a:hover {
  font-weight: bold;
}

a:active {
  color: $accentcolor2;
  text-decoration: none;
}

body {
  font-family: $font-content;
  margin-left: 20%;
  margin-right: 20%;
  background-color: $bgcolor;
  color: $textcolor;
  max-width: 1400px;

  font-size: 20px;

  .content-link {
    line-height: 80%;
    a {
      font-weight: bold;
      font-size: 1.1em;
    }

    p {
      padding-left: 2em;
    }
  }

  h1 {
    font-family: $font-tech;
  }
}
