{% extends "base.html" %} 
{% block content %}

<p>
(If you just want a rundown of my power level, my resume is <a href = "/resume"> here</a> )
</p>
<p>
 Hello there! My name is Keaton Guderian. I'm a programmer from Seattle, Washington.
</p>
<p>
 I'm a third-generation programmer via my father and his father (who was programming before "programmer" was the term in use; for the first part of his career "Computer Science" was a sub-specialty within Electrical Engineering). I didn't really get into writing code until about 7th grade though, when I trial-and-errored my way to a functioning website by stealing snippets from other pages with "inspect element." From there I hacked together some javascript to make it interactive, and
 <em>
  bam,
 </em>
 I ... didn't especially like it, to be honest. The whole process felt kind of arcane and arbitrary; less like solving a puzzle and more like shuffling the puzzle pieces around until, by chance, they kind of fit together.
</p>
<p>
 This is something I've thought about a lot in the years since. Nowadays, I
 <em>
  love
 </em>
 programming, with a passion I don't really feel for other activities. I also like distance running, for example, but if I had to give that up forever I'd be only a bit bummed out. With programming, I am physically incapable of giving it up (that's a theme we'll see going forward). My best explanation is to blame it on Windows. I don't
 <em>
  hate
 </em>
 Windows, at least not with the burning passion a lot of other FOSS proponents do, but the experience of learning to program on Windows XP/7/8 was, I think, actively detrimental to building a cohesive mental model of what computer science
 <em>
  is
 </em>
 . It's easier, in the sense that you can download Python and IDLE via a graphical wizard, then type your
 <code>
  print("Hello World")
 </code>
 and just click the 'run' button to get started. The whole process, though, feels very out of your hands.
</p>
<p>
 Another example: I took a CS class in high school that used C# and Visual Studio. When I wanted to run my terrible teenage code, I would click the 'run' button in the corner, and it would Run (or crash, more often). How did the text on the screen turn into a running program? Don't worry about it! It Just Does! The implicit lesson for the newbie Windows programmer is this: A programming language consists of an IDE you type your code into, then you click the run button. I got the impression that CS was a series of sandboxed puzzles - often very fun, and engaging puzzles, but a sandbox nonetheless.
</p>
<p>
 A few years later, though, I got the fool idea to put Ubuntu on my laptop, and that was the missing piece. People rag on the Linux command line environment as obtuse (not without reason, to be honest) but it's obtuse because it doesn't hide anything. I had trouble at first running my Python programs on Ubuntu, and that pulled me into a web search rabbit hole I'm arguably still in the throes of.
 <code>
  not on $PATH
 </code>
 <em>
  what's $PATH? wait, what's bash? what's a shell? Wait, installing a program just means putting it somewhere on $PATH?, which is just a list of directories...
 </em>
</p>
<p>
 I went to the University of Washington, Seattle, from 2016-2020, and graduated with double degrees in Linguistics (B.A.) and Speech and Hearing Science (B.S.). I took CS classes whenever I could fit them into my schedule, but I ultimately decided not to pursue a degree. Part of that was because UW Seattle is a very competitive CS school, and at the time I didn't think I could cut it (looking back, I think I was selling myself short, but hindsight is 20/20). Another factor was a kind of aimless youthful rebellion; as I said, I come from a linage of programmers, and my 18 year old self bristled at the thought of going into a "family business."  I chose instead to go into Audiology - the diagnosis and treatment of hearing disorders - after a fascinating guest lecture for one of my phonetics classes on the physiology of the auditory system.
</p>
<p>
 In early 2020, I was accepted to the Ohio State University's doctoral program in audiology. Perceptive readers will note that at least one other thing happened in early 2020, and kept happening for a good while after. Rather than face the uncertainty of moving to Ohio in the midst of a pandemic, I deferred my admission for a year and hunkered down to quarantine with family just outside Seattle. It's odd to describe a global catastrophe as a "good time" in my life, but in a hyperlocal sense it really was. I had no obligations whatsoever, I was out of undergrad but not yet in grad school, I was free do spend my days doing what I wanted. During that time I:
</p>
<ul>
 <li>
  Learned Latin to an intermediate level, and a bit of Attic Greek.
 </li>
 <li>
  Read the Big Complex books I'd been to busy to engage with in school: Kant's
  <em>
   Critique of Pure Reason
  </em>
  (occasionally brilliant, but overall not worth the slog), Marx's
  <em>
   Capital, Volume 1
  </em>
  (genuinely fantastic and worthwhile even if you're not left leaning, 10/10), some highlights from Aristotle (the
  <em>
   Ethics
  </em>
  is pretty good. The natural history  and zoology stuff isn't correct but also isn't so absurdly wrong it's entertaining like Pliny the Elder's writings; I'd skip it)
 </li>
 <li>
  Rediscovered  a love for math, and and made up for lost time while studying social science by teaching myself calculus.
 </li>
</ul>
<p>
 After that kind of intellectual playground, maybe it's not surprising that grad school was a letdown.
</p>
<p>
 There were some things I liked about my time as a graduate student. The physiology aspect of the auditory system that had initially intrigued me was a treat to study at a higher level. The puzzle element of building up a model of what's going on inside a patient's cochlea, which is encased in bone and not directly accessible, by slicing away at possibility space though tests of increasing specificity. The feeling of leveraging your specific knowledge to unambiguously improve someone's life.  All that was fantastic, and if the field consisted of only those parts I would still be enrolled.
</p>
<p>
 But as it turns out, those highlights are few and far between. Most clinical work was pretty rote and mindless. The problems that needed solving on a day to day basis weren't diagnostic, they were pairing hearing aids to Iphones, or writing the same report over and over with slight changes. I'd been interested in the  programming aspect of hearing aids - and I still am! - but clinicians don't really "program" a hearing aid in a meaningful way. "Configure" might be a better word. You're not writing the algorithms, you're selecting drag-and-drop presets in laggy, unresponsive software. And so, I left.
</p>
<p>
 Left to do what? Well, nominally, write programs. Have I found work doing that since? No. Was this whole thing a mistake? No!
</p>
<p>
 As I said, I can't imagine a future timeline where I
 <em>
  don't
 </em>
 program. Even as a grad student, I was constantly coding in stolen moments. I worked part time remotely for a TTRPG design studio during this time, and I found myself treating my work writing devops and utility scripts as an escape from my unfulfilling clinical career.  It seemed to me- it
 <em>
  still
 </em>
 seems to me - that leaving the field to pursue programming was inevitable. If not now, it would have happened eventually.
</p>

{% endblock content %}
