<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8" />

  <title>n</title>

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <meta name="description" content="" />

  <link rel="icon" href="favicon.png">

</head>

<body>

  <h1>{{  }} </h1>


    <p>Hello! I'm Keaton and this is my website. If you like it, consider clicking one of these links to look at other things I've made, and potentially hire me to make things like it for you.</p>

    <h2><a href="resume.pdf">My Resume</a></h2>
    <p>I think I'm pretty good at editing text files, if I may say so.</p>

    <h2><a href="https://github.com/keagud">My GitHub</a></h2>
    <p>Projects I have made, or am currently making.</p>
    
    <!--

    <h2><a href="posts/">My Posts</a></h2>
    <p>Did you know <i>blog</i> is a shortening of <i>web log?</i> Anyway, it's that.</p>
    -->

    <br>
    <br>
    <p>made with <a href="https://github.com/edwardtufte/tufte-css">tufte css</a></p>
    


</body>

</html>
