$font-tech: 'Courier New', Courier, monospace;
$font-content: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$bgcolor: #fffff8;
$textcolor: #111;

$accentcolor1: cornflowerblue;
$accentcolor2: hotpink;


a:link,
a:visited {
  color: $accentcolor1;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

a:active {
  color: $accentcolor2;
  text-decoration: none;
}

body {
  font-family: $font-content;
  margin-left: 20%;
  margin-right: 20%;
  background-color: $bgcolor;
  color: $textcolor;
  max-width: 1400px;

  font-size: 20px;
}

.section-title {
  text-decoration: underline;
  font-family: $font-tech;
}

div#basic-info {
  font-family: $font-tech;
  margin: auto;
  width: 50%;
  text-align: center;
  border-bottom: none;
}

span.course-name {
  font-weight: bold;
  font-style: italic;
}

#section-nav-bar {
  margin: auto;
  padding-top: 3em;
  text-align: center;
  font-family: $font-tech;
  border-bottom: solid;
}

.section-nav-bar-link {
  display: inline-block;
  padding: 0 1em;

  margin-bottom: 1.3em;
}

.resume-section {
  border-bottom: solid 0.1em;
}

.past-job-title {
  font-weight: bold;
}


.programming-language-proficiency{
  font-weight:bold;
}


#misc-tech-buzzwords, .programming-languages-group {
  font-size: .9em;
  font-style: italic;
  font-family: $font-tech;
}

.project-title-header {
  font-family: $font-tech;
}

.project-header,
.past-job-header,
.education-institution-summary {
  display: flex;
  justify-content: space-between;
  border-bottom: dotted;
}

.project-item {
  padding-bottom: 3em;
}

.project-keywords,
.past-job-timespan,
.education-timespan {
  font-style: italic;
}

.project-title-header,
.past-job-title,
.education-institution-name {
  font-weight: bold;
  font-size: 1.3em;
}
